* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffa600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    font-size: 18pt;
}

.title {
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    width: 50%;
}

.buttons {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    background-color: transparent;
    font-size: 14pt;
    color: white;
    cursor: pointer;
    width: 25%;
    margin-top: 20px;
}

button:hover {
    background-color: white;
    color: #ffa600;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

button:focus {
    outline: none;
}

/*Responsive*/

@media screen and (max-width: 940px) {
    .title{
        text-align: center;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
    }
    button{
        width: 75%;
    }
}